@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

:root{
    --color-1:#364547;
    --color-2: #f6f5f5;
    --color-3: #d3e0ea;
    --color-4:#276678;
    --color-5: #1687a7;

}


*{
    padding: 0;
    margin: 0;
    
}

html{
    font-size: 150%;
    font-weight: 300;
    
    line-height: 1.4;
 
   
}


body{
    display: flex;
    font-family:"Poppins", Helvetica ;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}


.calculator{
    box-shadow: 0 0 25px 0 rgba($color: #000000, $alpha: 0.3);
    border-radius: 0.3em;
    overflow:hidden;
    
}


.calculator_display{
    background-color:var(--color-1);
    color: var(--color-2);
    width: 13rem;
    padding: 0.75rem 1rem;
    text-align: right;
   

}

.calculator_keys{

    background: grey;
    display: grid;
    
    grid-template-columns: repeat(4, auto);
    gap: 1px;
    grid-template-areas: 
    ". . . ."
    " seven eight nine equal"
    " four five six equal"
    " one two three equal"
    " zero decimal clear equal";
    


    buttons{
        // padding: 0.75em 1em;
       

        // padding-left: 10px;
        // padding-right: 10px;
        background: var(--color-3);
        
    
    }
    

    .one{
        grid-area: one;
    }
    .two{
        grid-area: two;
    
    }
    
    .three{
        grid-area: three;
    }
    
    .four{
        grid-area: four;
    }
    
    .five{
        grid-area: five;
    }
    
    .six{
        grid-area: six;
    }
    
    .seven{
        grid-area: seven;
    }
    
    .eight{
        grid-area: eight;
    }
    .nine{
        grid-area: nine;
    }
    
    .zero{
        grid-area: zero;
    }
    
    .clear{
        grid-area: clear;
    }
    .decimal{
        grid-area: decimal;
    }
    
    .equal{
        grid-area: equal;
        padding-top: 50px;
        background-color: var(--color-4);
    }


    .equal:active, .equal:focus{
        background-color: var(--color-5);
    }
   .operator_btn{
       background: var(--color-2);
   }

.operator_btn:active, .operator_focus{
    background-color: var(--color-3);
}
   .numbers_btn:active, .numbers_btn:focus{
        background: var(--color-2);
   }
}

